#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery.numberformatter-1.2.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jshashset.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<script>
    $("#salary").blur(function(){
       $(this).parseNumber({format:"#,###.00", locale:"ch"});
       $(this).formatNumber({format:"#,###.00", locale:"ch"});
    });
	</script>
#{/set}

#{extends 'main.html' /}
#{set title:'Home' /}
<table><tbody><tr><td valign="top">
#{include '/menu/invoice_menu.html'/}</td><td> #{doLayout /}</td></tr>
</tbody></table>