

#{extends 'main.html' /}
#{set title:'Home' /}
<a href="@{AccountingModelC.create()}">Create new todo</a>
<br/>
<br/>

<table id="hor-minimalist-b">
    <thead><tr><th>Name It</th><th></th><th></th></tr></thead>
    <tbody>
#{list items:accountingModels, as:'accountingModel'}
    <tr>
        <td>${accountingModel.nameIT}</td>
        <td> <a href="@{AccountingModelC.prepareUpdate(accountingModel.id)}"><img src="/public/images/edit.png"/> </a></td>
        <td> <a href="@{AccountCategoryC.list(accountingModel.id)}"><img src="/public/images/account_classes.png"/> </a></td>

    </tr>
#{/list}
    </tbody>
</table>

