#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
<script>
    $(document).ready(function(){
      $('input.autocomplete').each( function() {
        var $input = $(this);
        // Set-up the autocomplete widget.
        $(this).autocomplete({
            minLength: 2,
            source : function(req, resp) {
              $.getJSON("@{AccountingPeriodC.getObjects()}?periodId=${account.period.id}&term=" + req.term , req, function(data) {
                  var suggestions = [];
                $.each(data, function(i, val) {
                  var obj = {};
                  obj.label = val.number;
                  obj.id = val.id;
                  suggestions.push(obj);
                });
                resp(suggestions);
              });
            }
          });
      });
    });

</script>
<link type="text/css" href="/public/stylesheets/le-frog/jquery-ui-1.8.16.custom.css" rel="stylesheet"/>

#{/set}

<div id="content">
<p>
    Complete the form to add a new Transaction
</p>
<div id="createTransactionForm">
<form action="@{AccountingPeriodC.doTransaction()}" method="POST">

    <table>
        <thead></thead>
        <tbody><td><table>
            <thead><tr><th>Numero</th><th>Name</th><th>Amount</th></tr></thead>
            <tbody>
            <tr><td><input type="text" value="${account.number}" name="account[0].number"/></td><td><input type="text" value="${account.nameIT}" name="account[0].nameIT"/>
            </td><td>
                <div class="ui-widget">
                <label for="amount0">

                </label><input type="text" class="ui-state-default autocomplete" name="amount[0]" id="amount0" value="">
            </div>
            </td></tr>
            <tr><td><input type="text" name="account[1].number"/></td><td><input type="text" name="account[1].nameIT"/></td><td><input type="text" name="amount[1]"/></td></tr>
            <tr><td><input type="text" name="account[2].number"/></td><td><input type="text" name="account[2].nameIT"/></td><td><input type="text" name="amount[2]"/></td></tr>
            <tr><td><input type="text" name="account[3].number"/></td><td><input type="text" name="account[3].nameIT"/></td><td><input type="text" name="amount[3]"/></td></tr>
            <tr><td><input type="text" name="account[4].number"/></td><td><input type="text" name="account[4].nameIT"/></td><td><input type="text" name="amount[4]"/></td></tr>

            </tbody>
        </table></td><td><table><thead></thead><tbody>
        <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
        <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
        <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
        <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
        <tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>
        </tbody></table></td></tbody>
    </table>
    <input type="submit" name="create" value="Create">
    </form>
</div>
</div>