#{set 'moreScripts'}
<link type="text/css" href="/public/stylesheets/le-frog/jquery-ui-1.8.16.custom.css" rel="stylesheet"/>

<script>
	$(function() {
		$('#datepicker').datepicker({dateFormat:'dd.mm.yy'});
	});
	</script>
#{/set}

#{extends 'main.html' /}
#{set title:'Home' /}
<div id="content">
<p>
    Create sale
</p>
<div id="createSaleForm">
<form action="@{SaleC.doCreateSale()}" method="POST">
    <p> <p class="field">
        <label>Client</label>
        <label>${client.name}</label>
    </p>
        <p><input type="hidden" name="id" value="${client.id}"/> </p>
    <p class="field">
                    <label>reference:</label>
                    <input type = "text" name="sale.reference"/>
            </p>
    <p class="field">
            <label>Sale amount:</label>
            <input type = "text" name="sale.amount"/>
        </p>
        <p class="field">
                <label>due date:</label>
                <input type = "text" name="dueDate" id="datepicker"/>
        </p>
    <input type="submit" name="create" value="Create">
    </form>
</div>
</div>